/* Global Styles */
body {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #cee4e6; /* Soft light gray background for a friendly feel */
    min-width: 347px; /* Stop the page from shrinking below 347px width */
}

.navbar {
    background-color: #343a49 !important; /* Dark grey-blue navbar background */
}

.navbar-toggler {
    color: #ffffff !important; /* White color for the burger menu */
    border-color: #ffffff !important; /* White color for the border */
}

.navbar-toggler-icon {
    background-color: #343a49 !important; /* Dark grey-blue color for the burger menu lines */
    border-color: #ffffff !important; /* White color for the border */
}

.navbar-nav .nav-link {
    padding-left: 20px; /* Keeps navlinks spaced out */
}

    /* Highlight active page link */
.navbar-nav .nav-link.active {
        background-color: #007bff; /* Blue background for active link */
        color: #ffffff !important; /* White text for active link */
        border-radius: 5px; /* Optional: rounded corners for active link */
        padding: 5px 10px; /* Optional: padding for active link */
 }

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important; /* White text for navbar links */
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1602827114685-efbb2717da9f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    color: #343a40; /* White text for hero section */
    text-align: center;
    padding: 120px 0; /* Increased padding for more space */
}

.hero-text {
    margin-top: -89px; /* Adjusts the space between the navbar and hero text */
    margin-left: 73px;
}

/* Makes the Welcome text wave*/
.wave {
    animation: wave 2s ease-in-out;
}

@keyframes wave {
    0%, 100% {
        font-size: 40px;
    }

    50% {
        font-size: 50px;
    }
}

/* About Section Styles */
.about {
    padding: 20px 0; /* Add padding to space out from the hero section */
    padding-left: 0px;
    padding-right: 0px;
    background-color: #b4d5d5; /* White background for about section */
    width: 100vw; /* Make the section screen-wide */
}

    .about .about-image {
        width: 100%;
        height: 100%;
    }

.offerings {
    background-color: #001f3f; /* Dark blue background */
    color: #ffffff; /* White text for better readability */
    padding: 50px 0; /* Add some padding for spacing */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
    padding: 10px; /* Add padding inside the caption */
    border-radius: 5px; /* Rounded corners */
}

.heading-offerings {
    text-align: center;
}

/*Classes section*/

/* Classes section */
.card {
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card.expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        z-index: 1050;
        width: 90%;
        height: auto;
    }

.card-body.expanded {
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 139, 0.8); /* Dark blue background */
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

    .overlay.active {
        display: block;
    }

/* Additional CSS for Classes Section */
.classes {
    background-color: #f4f4f4;
    padding: 40px 0;
}

    .classes .card {
        cursor: pointer;
    }

        .classes .card img {
            height: 200px; /* Ensure all images are the same height */
            object-fit: cover;
        }

    .classes .class-details {
        display: none;
        background-color: #1e3a63; /* Dark blue background */
        color: #fff;
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
        text-align: center;
    }

.card-body button {
    margin-top: 10px;
    background-color: #1e3a63; /* Dark blue background for buttons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .card-body button:hover {
        background-color: #142b47;
    }
/* Detailed descriptions */
.class-details {
    display: none;
}

    .class-details.active {
        display: block;
    }

/*Promotions cards*/
.promotions {
    background: linear-gradient(to right, turquoise, pink, darkblue);
    padding: 50px 0;
    text-align: center;
}

    .promotions h2 {
        color: navy; /* Change heading color to navy blue */
        font-size: 2.5em;
        margin-bottom: 30px;
    }

    .promotions .promotion-card {
        background-color: #001f3f; /* Set the initial card background color to navy blue */
        color: turquoise; /* Set the text color to turquoise */
        transition: transform 0.3s ease, background-color 0.3s ease;
        margin-bottom: 20px;
    }

.promotion-card:hover {
    transform: scale(1.10);
    background-color: #361245; /* Change to a slightly more purple shade on hover */
}

.promotion-card .card-title,
.promotion-card .card-text {
    color: turquoise; /* Ensuring the text within the cards is turquoise */
}

/* Add padding to card-body for better spacing */
.promotion-card .card-body {
    padding: 20px;
}

.footer {
    background-color: #343a40; /* Same as navbar background color */
    color: white;
    padding: 20px 0;
}

    .footer .social-media {
        margin-bottom: 20px;
    }

    .footer .social-link {
        margin: 0 10px;
        display: inline-block;
    }

    .footer .social-icon {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;
    }

        .footer .social-icon:hover {
            transform: scale(1.2);
        }

    .footer p {
        margin: 0;
    }

/* Additional styles for About page */
.hero-section {
    height: 300px;
    background: linear-gradient(to right, #00bfff, #ff69b4, #800080);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .hero-section h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .hero-section p {
        font-size: 1.5em;
    }

/* Define keyframes for cartwheel animation */
@keyframes cartwheel {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Apply animation to the hero section */
.about-hero h1 {
    animation: cartwheel 2s ease-in-out; /* Adjust duration and timing function as needed */
}


.about-hero {
    background-image: url('https://images.pexels.com/photos/7045417/pexels-photo-7045417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
    color: #fff; 
}
.about-section {
    text-align: center;
    background-color: #f8f9fa;
}

    .about-section .card {
        margin-top: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
.card-body {
    margin-top: 20px;
    text-align: center; /* Center-align text within the card body */
}

.card-title {
    text-align: center; /* Center-align the card title */
}


/*Classes page styles*/
/* Only apply styles to the hero section on the classes page */
.classes-hero {
    position: relative;
    background-image: url('https://images.pexels.com/photos/864939/pexels-photo-864939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

    .classes-hero .container {
        position: relative; /* Ensure text remains on top of the background image */
        z-index: 1; /* Ensure container is above the overlay */
    }

        /* Create a pseudo-element for the background overlay */
        .classes-hero .container::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 122, 0.3); /* Transparent navy-blue background */
            border-radius: 20px; /* Rounded corners */
            z-index: -1; /* Behind the text */
        }

/* Falling effect animation */
@keyframes animated-fall {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to the h1 element */
.animated-fall {
    animation: animated-fall 1s ease-out;
    color: white; /* Ensure text is visible */
    position: relative; /* Ensure z-index works */
    padding: 20px; /* Add padding to h1 */
    border-radius: 20px; /* Rounded corners */
}

/* Apply styles to the paragraph */
.classes-hero p {
    color: white; /* Text color */
    position: relative; /* Ensure z-index works */
    padding: 20px; /* Add padding */
    border-radius: 20px; /* Rounded corners */
    background-color: rgba(0, 0, 128, 0.5); /* Transparent navy-blue background */
    margin-top: 10px; /* Add some spacing */
}

/*Classes - Timetable*/
/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* Table styles */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
    background-image: url('https://images.pexels.com/photos/6765032/pexels-photo-6765032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg');
    background-size: cover;
    background-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 122, 0.6); /* White with some transparency */
}

th, td {
    color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

th {
    background-color: #142b47;
}

/* Button styles */
.book-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .book-btn:hover {
        background-color: #45a049; /* Darker green */
    }

/* Booking form styles */
.booking-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #caf7ee; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

    .booking-form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-btn:hover {
        background-color: #45a049; /* Darker green */
    }


    /*Pricing page styles*/
.pricing-hero {
    padding-bottom: 170px;
    background-image: url('https://plus.unsplash.com/premium_photo-1670505059783-806c0708bb31?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    backdrop-filter:blur(5px) 
    
}

.pricing-table {
    padding: 50px 0; /* Padding for pricing table section */
}

.table {
    margin-top: 30px;
}

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }


/* Hero Section for Contact Page */
.contact-hero {
    background-image: url('https://media.istockphoto.com/id/840874970/photo/fit-woman-at-the-gym-holding-a-loyalty-card.jpg?s=1024x1024&w=is&k=20&c=8o27QoYbuatM4k0FSu4o4tHN979qAHnpelymOgw8SYM=');
    background-position: center;
    background-size: cover;
    color: #001f3f; /* White text for hero section */
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 200px 0; /* Padding for more space */
    
}

.contact-form-section {
    padding: 60px 0;
}

    .contact-form-section h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-form-section .form-control {
        border-radius: 0; /* Flat input fields for modern look */
    }

    .contact-form-section .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 0; /* Flat button for modern look */
    }


/* Hero Section Styles for Instructors Page */
.hero.instructors-hero {
    background-image: url('https://plus.unsplash.com/premium_photo-1663036928602-72c8f64ad948?q=80&w=2054&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 270px 0;
    position: relative;
}

    .hero.instructors-hero .container {
        position: relative;
        z-index: 1;
    }

    .hero.instructors-hero:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    .hero.instructors-hero .container h1 {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        background: rgba(52, 58, 73, 0.5); /* Semi-transparent overlay with #343a49 */
        border-radius: 5px;
    }

/* Instructors Section Styles */
.instructors-section {
    padding: 60px 0;
    background-color: #c5e4df !important; /* Corrected background color */
}

    .instructors-section .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

.instructor-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(52, 58, 73, 0.6); /* Increased shadow for hanging effect */
    margin: 20px;
    width: calc(33.33% - 40px); /* Adjusted width for a nice grid */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column; /* Ensure the card content is arranged in a column */
    justify-content: space-between; /* Distribute space evenly */
}

    .instructor-card img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 300px; /* Fixed height for uniformity */
        object-fit: cover; /* Ensure images cover the entire card */
    }

    .instructor-card .card-body {
        padding: 20px;
        flex-grow: 1; /* Make the card body take up the remaining space */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .instructor-card h3 {
        margin: 10px 0;
        font-size: 1.75em; /* Increased size */
        font-weight: bold; /* Bold font */
        color: #343a40;
    }

    .instructor-card p {
        font-size: 1em;
        color: #6c757d;
        flex-grow: 1; /* Make the paragraph take up the remaining space */
    }

    .instructor-card:hover {
        transform: translateY(-15px); /* Increased translate for popping effect */
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4); /* Increased shadow for hover effect */
    }


/* Hero Section Styles for FAQ Page */
.hero.faq-hero {
    background-image: url('https://media.istockphoto.com/id/1021671582/photo/young-man-frustrated-headache-stress-and-dizzy-gesture.jpg?s=1024x1024&w=is&k=20&c=HF16dSaW89IK060IpPo9hqOUx7LlUQbBz3Sd845KJ6o=');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
    position: relative;
}

    .hero.faq-hero .container {
        position: relative;
        z-index: 1;
    }

    .hero.faq-hero:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    .hero.faq-hero .container h1 {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        background: rgba(52, 58, 73, 0.5); /* Semi-transparent overlay with #343a49 */
        border-radius: 5px;
    }

    .hero.faq-hero .container p.lead {
        font-size: 1.25em;
        margin: 20px 0;
    }

    .hero.faq-hero .container .btn {
        margin-top: 20px;
        background-color: #ffd700;
        color: #343a49;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

        .hero.faq-hero .container .btn:hover {
            background-color: #e6b800;
   
            
            
     }
/* Hero Section Styles for Blog Page */
.hero.blog-hero {
    position: relative;
    height: 60vh;
    overflow: hidden;
    padding-top: 160px;
    
}

    .hero.blog-hero .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        
    }

        .hero.blog-hero .video-container iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

    .hero.blog-hero .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: #fff;
        text-align: center;
    }

        .hero.blog-hero .hero-content h1 {
            font-size: 3em;
            background: rgba(52, 58, 73, 0.5); /* Semi-transparent overlay */
            padding: 10px 20px;
            border-radius: 5px;
        }

/* Blog Articles Section Styles */

.blog-articles {
    padding: 60px 0;
    background-color: #f8f9fa;
}

    .blog-articles .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

.article-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 45%; /* Adjust to fit two cards per row */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

    .article-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .article-card .card-body {
        padding: 20px;
        max-height: 150px; /* Set a max-height for preview */
        overflow: hidden;
    }

    .article-card .preview {
        display: block;
    }

    .article-card.expanded .card-body {
        max-height: none; /* Show full article */
    } 

/* Fullscreen Article View */
.fullscreen-article {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; /* Make it scrollable */
}

    .fullscreen-article .article-content {
        background: #fff;
        border-radius: 10px;
        width: 80%;
        max-width: 800px;
        padding: 20px;
        text-align: center;
    }

    .fullscreen-article img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .fullscreen-article h3 {
        font-size: 2em;
        margin: 20px 0;
        color: #343a49;
    }

    .fullscreen-article p {
        font-size: 1.2em;
        color: #6c757d;
    }

..fullscreen-article .article-content {
    position: relative; /* Ensure close button position is relative to this div */
}

.fullscreen-article .article-content .close {
    position: absolute; /* Position close button relative to its parent */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 24px; /* Adjust size as needed */
    color: #fff; /* Button color */
    cursor: pointer;
    z-index: 1001;
}
/* Ensure it's above the modal background 





/* My Account Page Styles */

.my-account {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.account-form {
    background-color: #b0c3db;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .account-form h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .account-form form {
        max-width: 400px;
        margin: 0 auto;
    }

    .account-form .form-group {
        margin-bottom: 20px;
    }

    .account-form label {
        font-weight: bold;
    }

    .account-form input[type="text"],
    .account-form input[type="email"],
    .account-form input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .account-form button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .account-form button:hover {
            background-color: #0056b3;
        }

.text-danger {
    color: red;
}